  {% include 'admin_header.html' %}
  {% include 'admin_menu.html' %}
  {% include 'admin_sidebar.html' %}

  <div class="main-content">
    <h1>Conteúdo da Página</h1>
    <p>Essa área se ajusta automaticamente ao lado das duas colunas fixas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum felis at lorem consequat, sit amet tincidunt ligula pellentesque. Donec at ipsum vitae urna sagittis accumsan.</p>
    <p>Role para ver que as barras laterais continuam fixas.</p>
    <div style="height: 1500px;"></div>
  </div>
  {% include 'admin_footer.html' %}
