  {% include 'admin_header.html' %}
  {% include 'admin_menu.html' %}
  {% include 'admin_sidebar.html' %}

  <div class="main-content">
    <div class="container-fluid">
      <div class="row justify-content-md-center" style="padding-top: 15px;">
        <div class="mb-3 text-left">
          <h3 class="text-2xl font-bold">Gestão de Historico de acesso</h3>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <form name="frmPesquisa" id="frmPesquisa" class="row gy-2 gx-3 align-items-end">
          <div class="col-auto">
            <label class="form-label" for="idusuario">Identificação:</label>
            <input type="text" class="form-control input-sm" id="idusuario" placeholder="">
          </div>
          <div class="col-auto">
            <label class="form-label" for="nome">Nome de usuário:</label>
            <input type="text" class="form-control" id="nome" placeholder="">
          </div>
          <div class="col-auto">
            <label class="form-label" for="email">E-mail do usuário:</label>
            <input type="email" class="form-control" id="email" placeholder="">
          </div>
          <div class="col-auto">
            <label class="form-label" for="tipo">Tipo usuário:</label>
            <select class="form-select" id="tipo">
              <option selected>Cliente</option>
              <option value="1">Analista</option>
              <option value="2">Vendedor</option>
              <option value="3">Cientista referencia</option>
            </select>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-sm btn-primary" style="margin-bottom: 4px;">Pesquisar</button>
          </div>
        </form>
      </div>
      <div class="row justify-content-md-center" style="padding-top: 15px;">
        
      </div>
    </div>
  </div>

  {% include 'admin_footer.html' %}
