<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>Growth-as-a-Service | Transforme Dados em Crescimento</title>
	<meta name="description" content="Growth Services - Transforme dados em crescimento mensurável">
	<meta name="keywords" content="Growth;Services;Resultados;Inferencia Causal;Diff and Diff">
	<!-- Favicons -->
	<link href="/static/img/simbolo.png" rel="icon">
	<link href="/static/img/simbolo.png" rel="apple-touch-icon">
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
	<link rel="canonical" href="https://getbootstrap.com/docs/5.3/components/alerts/">
	<!-- Main CSS File -->
	<link href="/static/css/main.css" rel="stylesheet">
</head>
<body>
  <div class="alert alert-warning d-none d-flex justify-content-between align-items-center mensagem-alerta" id="alerta" role="alert">
    <span id="alertaMensagem"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
