<header class="hero">
	<div class="container">
		<nav class="navbar fixed-top navbar-expand-lg navbar-light">
			<a class="navbar-brand" href="https://lohmannesilva.com/growth.html">
				<img src="/static/img/Logo_cor_transp.png" alt="Logo" height="24" class="d-inline-block align-text-top">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!-- Logo + menus -->
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item"><a class="nav-link nav-link-area" href="{{ url_for('routes_web_contato.rota_contato_registrar_contato') }}">Contato</a></li>
					<li class="nav-item"><a class="nav-link nav-link-area" href="{{ url_for('admin') }}">Área restrita</a></li>
				</ul>
			</div>
		</nav>						
	</div>
</header>

