  {% include 'index_header.html' %}    
  {% include 'index_menu.html' %}

  <div class="container-fluid">
    <br>
    <div class="row justify-content-md-center">

      <div class="col"></div>
      <div class="col"> 
        
        <div class="row justify-content-md-center">
          <div class="col-md-auto"></div>
            <div class="col col-8 registro-container ">
              
              <div class="mb-3 text-center">
                <h3 style="font-family: 'DIN';">Acesso a área restrita</h3>
                <p style="font-family: 'DIN';">Informe seus dados de acesso</p>
              </div>

              <form id="formLogon">

                <div class="mb-3 form-text-font">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="seuemail@example.com">
                </div>

                <div class="mb-3 form-text-font">
                  <label for="senha" class="form-label">Senha</label>
                  <input type="password" class="form-control" id="senha" name="senha" placeholder="Informe sua senha">
                </div>

                <div class="d-grid form-text-font">
                  <div class="row">
                    <div class="col col-4 text-center">
                      <button type="submit" class="btn btn-primary btn-sm">Acessar</button>
                    </div>
                    <div class="col col-8 text-center">
                      <a href="{{ url_for('routes_web_usuario.rota_usuario_registro')}}">Nova conta</a>
                    </div>
                  </div>
                </div>

              </form>
            </div>
            <div class="col-md-auto"></div>
          </div>

        </div>
      <div class="col"></div>
    </div>
  </div>

  <script>
    const API_URL = "/usuario/";
    const formLogon = document.getElementById("formLogon");
    const divAlerta = document.getElementById("mensagem-alerta");

    // Enviar novo ou atualizar
    formLogon.onsubmit = async (e) => {
      e.preventDefault();
      const email = document.getElementById("email").value;
      const senha = document.getElementById("senha").value;

      await fetch(API_URL + 'logon', {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({email, senha})
      })
      .then(res => res.json())
      .then(data => {
        if (data.success) {
          window.location.href = data.redirect;
        } else {
          exibirMensagem(data.mensagem);
        }
      });
      formLogon.reset();
    };

  </script>
  {% include 'index_footer.html' %}
