<header class="hero">
  <div class="container">
	  <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-custom">
		  <a class="navbar-brand" href="https://lohmannesilva.com/growth.html">
        <img src="/static/img/Logo_preto.png" alt="Logo" height="24" class="d-inline-block align-text-top">
    	</a>
      <div class="collapse navbar-collapse" id="navbarNav"></div>
        <span class="navbar-text text-right">
          {{ session["usuario_nome"] }}
        </span>
      </nav>
    </nav>
  </div>
</header>
