  {% include 'index_header.html' %}    
  {% include 'index_menu.html' %}
  {% from "components/campos.html" import campo %}

  <div class="container-fluid">    
    <div class="row justify-content-md-center">
      <div class="col-12 col-sm-8 col-md-6 col-lg-8 registro-container">
            
      <div class="mb-3 text-center">
        <h3 style="font-family: 'DIN';">Solicitação de contato</h3>
        <p style="font-family: 'DIN';"><small>Preencha os dados abaixo. Campos com <span class="text-danger">*</span> são obrigatórios.</small></p>
      </div> 
        
      <form name="frmRegistro" id="frmRegistro">

        <div class="mb-3 form-text-font">
          {{ campo(form.tipo) }}
          <div class="invalid-feedback">Selecione o tipo de contato.</div>
        </div>              

        <div class="mb-3 form-text-font">
          {{ campo(form.nome) }}
          <div class="invalid-feedback">Por favor, informe seu nome.</div>
        </div>

        <div class="mb-3 form-text-font">
          {{ campo(form.email) }}
          <div class="invalid-feedback">Informe um e-mail válido.</div>
        </div>

        <div class="mb-3 form-text-font">
          {{ campo(form.telefone) }}
          <div class="invalid-feedback">Informe um telefone válido numero com ddd.</div>
        </div>

        <div class="mb-3 form-text-font">
          {{ campo(form.mensagem) }}
          <div class="form-text">Máximo 200 caracteres.</div>
        </div>

        <div class="d-grid mb-4 form-text-font">
          <button type="submit" id="btnEnviar" class="btn btn-primary">Confirmar</button>
          <div id="status" class="ms-auto align-self-center"></div>
        </div>
      
        </form>
      </div>
    </div>

  </div>

  <script>
    const API_URL = "/contato";
    const frmRegistro = document.getElementById("frmRegistro");
    const btn = document.getElementById("btnEnviar");

    // Enviar novo ou atualizar
    frmRegistro.onsubmit = async (e) => {
      e.preventDefault();
      e.stopPropagation();

      if (!frmRegistro.checkValidity()) {
        frmRegistro.classList.add('was-validated');
        return;
      }

      const data = Object.fromEntries(new FormData(frmRegistro).entries());

      // Desativa os campos
      document.getElementById("nome").disabled = true;
      document.getElementById("email").disabled = true;
      document.getElementById("telefone").disabled = true;
      document.getElementById("mensagem").disabled = true;
      document.getElementById("tipo").disabled = true;
      btn.disabled = true;      
      btn.innerText = "Validando...";

      await fetch(API_URL + "/contato", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
          , "X-CSRFToken": "{{ form.csrf_token._value() }}"
        },
        body: JSON.stringify(data)
      })
      .then(res => res.json())
      .then(data => {
        exibirMensagem(data.mensagem);
      });
      // Desativa os campos
      btn.innerText = "Confirmar";
      frmRegistro.reset();
    };

  </script>
  {% include 'index_footer.html' %}
